.container {
  max-width: 800px;
  margin: 0 auto;
}

form {
  margin-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 50px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
